.homeAboutInfoContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border-radius: 20px;
  max-width: 1287px;
  margin: 0 auto;
  color: #000;
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: justify;
}
.homeAboutInfoContainerVideo {
  width: 100%;
  height: 100%;
  min-height: 250px;
  background-color: #000;
  border-radius: 8px;
}
.homeAboutInfoContainerVideo img {
  border-radius: 8px;
}
.homeAboutInfoText {
  width: 100%;
  font-size: 1rem;
  font-style: italic;
  line-height: 2.5rem;
  /* background-color: #fffaef; */
}
.homeAboutInfoSmallText {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000;
  line-height: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .homeAboutInfoContainer {
    display: grid;
    column-gap: 50px;
    margin: 0 auto;
    grid-template-columns: 600px 1fr;
  }
  .homeAboutInfoContainerVideo {
    background-color: #000;
    width: 100%;
    height: 100%;
    min-height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .homeAboutInfoContainer {
    padding: 3.9rem 2rem;
  }
  .homeAboutInfoText {
    width: 100%;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 3rem;
    /* background-color: #fffaef; */
  }
  .homeAboutInfoSmallText {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1920px) {
  .homeAboutInfoContainer {
    max-width: 1490px;
    padding: 3.5rem 2rem;
    grid-template-columns: 700px 1fr;
  }
  .homeAboutInfoContainerVideo {
    width: 100%;
    height: 100%;
    min-height: 300px;
    background-color: #000;
  }
  .homeAboutInfoText {
    width: 100%;
    font-size: 1.7rem;
    font-style: italic;
    line-height: 3.2rem;
    /* background-color: #fffaef; */
  }
  .homeAboutInfoSmallText {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2.5rem;
  }
}
