.projectContainer {
  display: flex;
  flex-direction: column;
	align-items: center;
  max-width: 320px;
	min-height: 300px;
	padding: 0 0 0 0;
	border-radius: 20px;
}

.projectTextContainer {
	margin-top: 10px;
	line-height: 1.5rem;
  text-align: start;
}

@media screen and (min-width: 1024px) {
  .projectImageContainer {
    height: fit-content;
  }
  .projectImageContainer img {
		min-height: 170px;
  }
}
