.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 60px;
  margin-top: 30px;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.27s ease-in-out;
  border-radius: 5px;
  font-weight: 900;
}

@media screen and (min-width: 1440px) {
  .button {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1920px) {
  .button {
    width: 300px;
  }
}
