.headerElementsList {
  display: none;
}

@media screen and (min-width: 1024px) {
  .headerElementsList {
    display: flex;
    color: #fff;
    list-style-type: none;
  }
  .headerElement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    font-weight: 500;
    color: #fff;
  }
  .headerElement svg {
    margin-right: 5px;
    font-size: 1.3rem;
    color: #fff;
  }
}
