.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
}
.headerLogo {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}
.headerLogo span {
  color: #cc8d48;
}
.headerHamburguer {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 20px;
  color: #000;
  z-index: 214;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  transition-property: color;
}
.headerHamburguerActive {
  color: #fff;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
}
.footer p {
  margin-bottom: 0.8rem;
}
.footerContact {
  display: flex;
  width: 100%;
  padding: 0.7rem 3rem;
  justify-content: space-between;
}
.footer .footerContact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.15s ease-in;
}
.footer .footerContact a:hover {
  transform: scale(1.1);
}
.footer .footerContact a span {
  margin-left: 0.2rem;
}
@media screen and (min-width: 1024px) {
  .headerHamburguer {
    display: none;
  }
  .footer {
    margin-bottom: 1.2rem;
  }
}
