.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
  margin: 0 auto;
  background-color: #fff;
  /* transition: 0.3s ease; */
}
.headerHidden {
  opacity: 0;
  background-color: white;
}
.headerFixed {
  z-index: 10;
  position: fixed;
  top: 0;
  opacity: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
  margin: 0 auto;
  transition: 0.3s ease;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 1);
}

.headerFixed > ul {
  height: 100vh;
}

.headerFixedHidden {
  opacity: 0;
}

.headerHamburguer {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 1rem;
  color: #000;
  z-index: 214;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  transition-property: color;
}

.headerFixedLogo {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
.headerFixedLogo span {
  color: #0070f3;
  text-shadow: 0 4px 14px rgb(0 118 255 / 39%);
}
.headerFixedHamburguer {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 1rem;
  color: #fff;
  z-index: 214;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  transition-property: color;
}

.headerHamburguerActive {
  color: #fff;
}
.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  background-color: #fff;
}
.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 3rem;
}
.footer div p {
  margin-bottom: 0.8rem;
}
.footerContact {
  display: flex;
  width: 100%;
  padding: 0.7rem 2rem;
  justify-content: space-between;
}
.footer .footerContact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 0.15s ease-in;
}
.footer .footerContact a:hover {
  transform: scale(1.1);
}
.footer .footerContact a span {
  margin-left: 0.2rem;
}

@media screen and (min-width: 768px) {
  /* .header {
    max-width: 650px;
  } */
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 1.8rem 40px;
  }
  .headerFixed {
    padding: 1.8rem 40px;
  }
  .headerFixed > ul {
    height: initial;
  }
  .headerHamburguer {
    display: none;
  }
  .headerFixedHamburguer {
    display: none;
  }
  .footer div {
    padding-bottom: 1.2rem;
  }
	.footerContact {
		padding: 0.7rem 3rem;
	}
}

@media screen and (min-width: 1200px) {
  .header {
    padding-right: 45px;
  }
  .headerFixed {
    padding-right: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 2.1rem 40px;
  }
  .headerFixed {
    padding: 2.1rem 40px;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding: 2.5rem 120px;
  }
  .headerFixed {
    padding: 2.5rem 120px;
  }
}
