.inputFormContainer {
  display: flex;
  flex-direction: column;
}

.inputFormContainer label {
  margin-bottom: 10px;
}

.inputFormContainer input {
  margin-bottom: 10px;
  height: 35px;
  padding-left: 5px;
}
