.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  color: black;
  min-height: 75vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08rem;
}
.hero h1 {
  font-size: 1.5rem;
}
.hero h2 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(70, 70, 70);
}
.heroImageContainer {
  height: 370px;
  width: 370px;
  margin-bottom: 2rem;
}

.heroImage {
  border-radius: 10px;
}
.heroTextButton {
  width: 240px;
  height: 50px;
  margin-top: 30px;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.27s ease-in-out;
  border-radius: 5px;
  background-color: #303030;
}
.topProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.topProjectsTitle {
  margin: 100px 0;
  margin-bottom: 50px;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and(min-width: 768px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 1150px;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .heroTextContainer {
    grid-column: 1;
    grid-row: 1;
    text-align: start;
  }
  .heroTextContainer h1 {
    font-size: 2.2rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 1.5rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
		justify-self: end;
    width: 400px;
    height: 450px;
  }
  .topProjectsContainer {
    justify-content: center;
		column-gap: 0;
  }
	.topProjectsTitle {
		font-size: 2.2rem;
		font-weight: 600;
	}
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
  .heroTextContainer h1 {
    font-size: 2.5rem;
  }
  .heroTextContainer h2 {
    font-size: 1.8rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1700px;
  }
  .heroTextContainer h1 {
    font-size: 2.7rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 2rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    margin: 0 auto;
    width: 500px;
    height: 450px;
  }
}
