.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  padding-top: 1rem;
  color: black;
}
.secondSectionContainer {
  padding: 50px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #fafafa;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08rem;
}
.heroTextContainer {
  display: grid;
  margin-top: 60px;
  row-gap: 20px;
  justify-content: center;
  justify-items: center;
}

@keyframes textGradient {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero h1 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 900;
  animation: 1s textGradient;
}
.hero h2 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(70, 70, 70);
}

.heroImageContainer {
  height: 370px;
  width: 370px;
  margin-bottom: 2rem;
}

.heroImage {
  border-radius: 10px;
}
.heroTextButton {
  width: 270px;
  height: 60px;
  margin-top: 30px;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.27s ease-in-out;
  border-radius: 5px;
  font-weight: 900;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  background-color: #0070f3;
}
.topProjectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
  grid-auto-rows: 300px;
  padding: 0 15px;
  gap: 10px;
  justify-items: center;
  justify-content: center;
}

.topProjectsTitle {
  padding-bottom: 50px;
  font-size: 1.4rem;
  color: #000;
  text-align: center;
}

.contactSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px;
  text-align: center;
}

.contactSectionTextTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.contactSectionTextDescription {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.infoSectionContainer {
  display: flex;
  justify-content: center;
  min-height: 40vh;
  padding: 0 10px;
  margin-bottom: 240px;
}

.cardsInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .secondSectionContainer {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-top: 3.3rem;
  }
  .heroTextContainer {
    padding-top: 0;
    max-width: 900px;
    margin: 0 auto;
    row-gap: 40px;
  }
  .heroTextContainer h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 1.4rem;
  }
  .secondSectionContainer {
    padding: 50px 10px;
    padding-bottom: 100px;
  }
  .cardsInfoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .topProjectsContainer {
    gap: 10px;
    row-gap: 60px;
  }
  .contactSectionContainer {
    flex-direction: row;
    padding: 100px 40px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: start;
  }
  .contactSectionTextContainer {
    max-width: 600px;
    height: 140px;
  }
  .contactSectionTextTitle {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .contactSectionTextDescription {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  .hero {
    display: grid;
  }
  .heroTextContainer {
    grid-column: 1;
    grid-row: 1;
    text-align: start;
    max-width: 1200px;
  }
  .heroTextContainer h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 1.5rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    justify-self: end;
    width: 400px;
    height: 500px;
  }
  .topProjectsTitle {
    padding-bottom: 50px;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: start;
  }
  .secondSectionContainer {
    margin: 0 auto;
    padding: 50px 50px;
    padding-bottom: 100px;
  }
  .contactSectionContainer {
    padding: 100px 80px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-top: 7rem;
    max-width: 1400px;
  }
  .heroTextContainer {
    max-width: 1000px;
    margin-bottom: 80px;
  }
  .heroTextContainer h1 {
    font-size: 2rem;
  }
  .heroTextContainer h2 {
    font-size: 1.5rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    height: 500px;
  }
  .contactSectionContainer {
    padding: 100px 160px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
  .heroTextContainer {
    max-width: 1200px;
  }
  .heroTextContainer h1 {
    font-size: 3rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 1.5rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
  }
  .secondSectionContainer {
    padding: 50px 130px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .contactSectionContainer {
    padding: 100px 0px;
    max-width: 1400px;
  }
  .contactSectionTextTitle {
    font-size: 2rem;
  }
  .contactSectionTextDescription {
    font-size: 1.3rem;
  }
}
