.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  padding-top: 4rem;
  color: black;
  min-height: 75vh;
}
.secondSectionContainer {
  padding: 50px 0;
  background-color: #000;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08rem;
}
.heroTextContainer {
  display: grid;
  row-gap: 50px;
  justify-content: center;
  justify-items: center;
}
.hero h1 {
  font-size: 1.5rem;
  text-align: center;
}
.hero h2 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(70, 70, 70);
}
.heroImageContainer {
  height: 370px;
  width: 370px;
  margin-bottom: 2rem;
}

.heroImage {
  border-radius: 10px;
}
.heroTextButton {
  width: 270px;
  height: 60px;
  margin-top: 30px;
  border: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.27s ease-in-out;
  border-radius: 5px;
  font-weight: 900;
  background-color: #000;
}
.topProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.topProjectsTitle {
  padding-bottom: 50px;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .topProjectsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .heroTextContainer {
    max-width: 900px;
    margin: 0 auto;
  }
  .heroTextContainer h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 1.5rem;
  }
  .secondSectionContainer {
    padding: 50px 10px;
    background-color: #000;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
  }
  .hero {
    display: grid;
  }
  .heroTextContainer {
    grid-column: 1;
    grid-row: 1;
    text-align: start;
    max-width: 1200px;
  }
  .heroTextContainer h1 {
    font-size: 2.8rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 1.5rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    justify-self: end;
    width: 400px;
    height: 500px;
  }
  .topProjectsContainer {
    justify-content: center;
  }
  .topProjectsTitle {
    padding-bottom: 50px;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: start;
  }
  .secondSectionContainer {
    padding: 50px 50px;
    margin: 0 auto;
    background-color: #000;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
  .heroTextContainer {
    max-width: 1600px;
  }
  .heroTextContainer h1 {
    font-size: 2.5rem;
  }
  .heroTextContainer h2 {
    font-size: 1.8rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
  .heroTextContainer {
    max-width: 1200px;
  }
  .heroTextContainer h1 {
    font-size: 3.9rem;
    font-weight: 900;
  }
  .heroTextContainer h2 {
    font-size: 2.4rem;
  }
  .heroImageContainer {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
  }
  .secondSectionContainer {
    padding: 50px 130px;
    margin: 0 auto;
    background-color: #000;
  }
}
